{% extends "layout.html" %}
{%  block title %}About{%  endblock %}

{% block content %}
<div style="text-align: left; position: absolute; top: 40%; left: 45%; transform: translate(-50%,-50%); text-shadow: 2px 2px #1b1b1b">
	<h1><u>About the Developers!</u></h1>
	<br>
	<p style="font-size: 15px">Because of the the August 21, 2017 solar eclipse, Duc Vo and Stephen Deslate created this webapp to make sure no one misses the next total eclipse in 2024. Witnessing the eclipse take place from the best location is a once in a lifetime opportunity, that everyone should enjoy!<p>
	<br>
	<p style="font-size: 15px"> Duc and Stephen created the webapp during the SPIS program of UCSD.</p>
	<br>
		

</div>

{% endblock %}