{% extends "layout.html" %}
{%  block title %}Mexico{%  endblock %}

{% block content %}
<div style="text-align: center; position: absolute; text-shadow: 2px 2px #1b1b1b">
<h1><font size="7" >Welcome to Mexico!</font></h1>
<p style="margin: auto" id="map"></p>
    <script>
      function initMap() {
      	var sinaloa = {lat: 24.867, lng: -107.730};
        var durango = {lat: 27.055, lng: -105.900};
        var torreon = {lat: 25.537, lng: -103.406};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: durango
        });

        var marker = new google.maps.Marker({
          position: sinaloa,
          map: map
        });
        var marker = new google.maps.Marker({
          position: durango,
          map: map
        });
        var marker = new google.maps.Marker({
          position: torreon,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzaxeEp_qRoaZn4c1jL4UDQREGAAK98Sc&callback=initMap">
    </script>

<h3>Below is a list of the best locations that offer the best scenery for the eclipse!</h3>

<h4> <strong>Mazatlán, Sinaloa </strong> </h4>
<img src="https://media-cdn.tripadvisor.com/media/photo-s/01/2a/84/95/parasailing.jpg" alt="Mazatlán" style="width:415px;height:230px"><br>

<p><font size="2">Along with its delicate food and lovely weather, the resort town, Mazatlán, provides an irresistible 12 miles of sandy beaches and a beautiful skyline for many to enjoy. So remember to join pack some sunscreen and eclipse glasses and enjoy the view!</font></p>
<br>
<p> </p>

<h4><strong> Durango, Durango </strong></h4>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Panoramica_plaza_de_armas_Durango.jpg/1200px-Panoramica_plaza_de_armas_Durango.jpg" alt="Durango City" style="width:415px;height:230px">

<br>

<p> </p>

<p><font size="2">Durango is well known for its colonial history. Its architecture resembles many European elements ranging from Barcelona, Florence, Paris, and Madrid. One of its widely known building called the Cathedral Basilica of the Immaculate Conception is recognized as the most beautiful and most significant architectural representation of the state. Therefore, if you would like to experience the history of Mexico and also see the elclipse, then feel free to come to Durango!</font></p>
<br>

<h4><strong> Torreón, Coahuila </strong></h4>
<img src="http://www.itesm.mx/wps/wcm/connect/c4c44080446a7d968088d2ba7ed44504/Cristo-de-las-Noas-Turismo-Coahuila-558x311.jpg?MOD=AJPERES&CACHEID=c4c44080446a7d968088d2ba7ed44504" alt="Torreón" style="width:415px;height:230px"><br>

<p> </p>

<p><font size="2">Would you like to see third tallest statue of Christ in Latin America? Would you like to experience the eclipse and have the view of the entire city together at once? If you answered "yes" to any of the question, then come down to Torreón! </font></p>
<br />
</div>
{% endblock %}