<nav>
  <style>
    body {
      font-family:"Courier New", courier, monospace;
      color: white;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: transparent;
      font-size: 20px;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 10px 50px;
    }

    

  </style>

  <body>
    <ul>
      <li><a href="/home" style="color:white">Home</a></li>
      <li><a href="/news" style="color:white">News</a></li>
      <li><a href="/locations" style="color:white">Locations</a></li>
      <li style="float: right"><a href="/about" style="color:white">About</a></li>
    </ul>


</nav>